:root {
    --color--rojo: #ff5757;
    --color--verde: #97fa74;
    --color--amasuave: #f7f7eb;
    --color--borde--suave: #666061;
  }

.horario {
    position: static;
    top: 25%;
    left: 40%;
}

/* Lab.css */
.lab-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 15rem;
    background-color: #f0f0f0;
  }
  
  .data-form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }

  .data-form form input{
    width: 90%;
  }
  
  .data-form form {
    display: flex;
    flex-direction: column;
  }
  
  .data-form label {
    margin-top: 10px;
  }
  
  .data-form input, .data-form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .horario {
    margin-left: 20px;
  }
  
  /* Resto de tu CSS */

.select-color{
    width: 2rem;
    height: 2rem;
    margin-top: 2rem;
}

.paleta-colores{
    position: absolute;
}

.next {
    padding: 1rem 2rem;
}

.submit{
    margin-left: 3rem;
    padding: .5rem;
    background-color: var(--color--verde);
}